*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .menuLeft{
    float: left;
}*/
.menuBig{
    padding: 25px;
    color: #ffffff;
}/*
h2{
    color: white;
}
.menuRight{
    color: white;
    float: right;
    text-align: right;

} */
.first{
    background-image: url("../image/image8.png");
    background-size: cover;
    height: 720px;
    background-repeat: no-repeat;
}
.colorDiv{
    background-color: rgba(0, 0, 0, 0.584);
    height: 720px;
}
.btn{
    width: 190px;
    height: 35px;
    border-radius: 20px;
    margin: 10px;
    border:1px solid white;
    background-color: transparent;
    color: white;
}
.second{
    background-color: #07d645;
    width: 100%;
    height: 150px;
    

}
.second>span{
    width: 20%;
    
}

span{
    font-size: 25px;
}
.second>p{
    color: white;
    font-size: 45px;
    float: left;
    
}
.fa-solid{
    font-size: 30px;
    padding: 50px 50px;
}
.header{
    margin: 200px;
    color: white;
    font-size: 30px;

}
.menuRight>p{
    float: left;
    padding: 10px;
}
.bigBtn{
    width: 357px;
    height: 55px;
    margin: 35px;
    padding: 5px;
    border: none;
    border-radius: 35px;
    background-color: #07d645;;
    color: white;
}
.d1>img{
    width: 400px;
    height: 400px;
    padding: 20px 50px;
}
.true{
    display: flex;
    justify-content: center;
}
.d1>h1{
    width: 400px;
    padding: 0px 50px;
    color: #07d645;
}
.d1{
    text-align: center;
}
.btn3{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    color: #07d645;
    border-color:#07d645;
    margin: 20px;
}
.five{
    background-color: #07d645;
    width: 100%;
    height: 250px;
}
input{
    margin: 100px 50px;
    width: 250px;
    height: 50px;
    padding: 10px;
    border-radius: 15px;
}
input[type="submit"]{
    background-color: transparent;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid white;
    color: white;
}
.six{
    width: 100%;
    height: auto;
    background-color: #07d645;
    padding: 20px 25px ;
}
.importantone{
    color: white;
    text-align: center;
    
    
    font-size: 21px;
}
.smalltwofirst{
    color: white;
    padding: 30px;
    
    
}
.smalltwosecond{
    text-align: right;
}

.smalltwosecond>input{
    width: 325px;
    margin: 15px;
}
.importanttwo{
    display: flex;
    justify-content: space-around;
}
.hashvark{
    text-align: center;
    font-size: 20px;
    border: 3px solid black;
    margin: 20px 10px;
    border-radius: 20px;
}
.hashvarkInput, select{
    width: 80%;
    padding: 20px;
    margin: 25px;
}
.btn6{
    width: 175px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
    color: black;
    font-size: 15px;
}
.btn6:hover{
    color: #07d645;
}

.btn4{
    width: 100%;
    height: 80px;
    color:#07d645;
    text-align: left;
    background-color: #ffffff;
    font-size: 22px;
    padding: -25px;
}
.blockk{
    width: 70%;
    margin:0px auto;
}
.content{
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: #ffffff;
    color: #07d645;
    text-align: justify;
    display: none;
    
}
.fa-circle-minus{
    display: none;

}
.four{
    width: 100%;
    height: 400px;
    
    background-color: rgb(207, 250, 219);
}
.f-solid{
    float: right;

}
.blocck{
    display: block;
}
.hiddenHidden{
    display: none;
} 

@media only screen and (max-width:600px){
.hidden{
    display: none;
}
.block{
    display: block;
}
.fa-xmark{
    display: none;
}
.fa-bars{
    display: block;
} 
.header{
    margin: 50px;
    font-size: 15px;
}
.true{
    flex-direction: column;
}
.bigBtn{
    width: 200px;
    height: 40px;
    margin: 20px;
}
.second>p{
    font-size: 10px;
    float: none;

}
.second{
    height: auto;
}
.five{
    height: auto;
}
input{
    margin: 20px;
}
.importanttwo{
    flex-direction: column;
}
.fa-solid {
    padding: 20px;
}
}
}
